NEXT_PUBLIC_API_BASE_URL=http://localhost:3001
NEXT_PUBLIC_KAKAO_APP_KEY=
NEXT_PUBLIC_KAKAO_REST_KEY=
NEXT_PUBLIC_KAKAO_JS_KEY=
NEXT_PUBLIC_KAKAO_ADMIN_KEY=

CLIENT_BASE_URL=http://localhost:3000
CRAWLING_NODE_ENV = development
MAX_SALON = 3
MAX_IMAGE_LENGTH_PER_SALON = 10
SCROLL_TIMEOUT = 1500
IS_GPU=false
SHOW_CLIENT=10