NEXT_PUBLIC_API_BASE_URL=
NEXT_PUBLIC_KAKAO_APP_KEY=
NEXT_PUBLIC_KAKAO_REST_KEY=
NEXT_PUBLIC_KAKAO_JS_KEY=
NEXT_PUBLIC_KAKAO_ADMIN_KEY=

CLIENT_BASE_URL=
CRAWLING_NODE_ENV=production
MAX_SALON=8
MAX_IMAGE_LENGTH_PER_SALON=50
SCROLL_TIMEOUT=1000
IS_GPU=false
SHOW_CLIENT=5
